@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}

.isHide {
  display: none;
}

.fadeoutBg {
  transition-property: opacity;
  transition-delay: 0.9s;
  transition-duration: 0.8s;
  opacity: 0;
  pointer-events: none;
}

.fadeoutLoader {
  transition-property: opacity;
  transition-delay: 0.9s;
  transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

#loaderBg {
  background: #ffffff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#loader {
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: fixed;
  top: 50%;
  width: 120px;
}
#loader p {
  color: #454545;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}
#loader p img {
  display: inline-block;
}

body {
  margin: 5px 10px 0 10px;
  @include pc {
    margin: 30px 10vw 0 10vw;
  }
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  @include pc {
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .logo {
    height: 50px;
    margin-right: auto;
    z-index: 100;
    background-color: #fff;
    padding-top: 5px;
    @include pc {
      height: 70px;
      margin-right: auto;
    }
  }
  nav ul {
    display: flex;
    margin: auto;
    padding: 0;
    flex-flow: column;
    position: absolute;
    left: 0;
    right: 0;
    top: -190px;
    transition: 0.5s;
    @include pc {
      flex-flow: row;
      position: relative;
      top: 0;
    }
    &.open {
      top: 55px;
      transition: 0.5s;
      @include pc {
        top: 0;
        transition: 0.5s;
      }
    }
    li {
      list-style-type: none;
      margin: 0;
      font-family: "Dosis", sans-serif;
      font-weight: 500;
      font-size: 20px;
      position: relative;
      background-color: #fff;
      display: inline-block;
      @include pc {
        padding: 0;
        margin: 0 30px;
        background-color: rgba(0, 0, 0, 0);
      }
      &:last-child {
        @include pc {
          margin: 0 10px 0 30px;
        }
      }
      a {
        display: block;
        text-decoration: none;
        color: black;
        width: 100%;
        height: 100%;
        padding: 10px;
        @include pc {
          padding: 0;
        }
      }
      &::after {
        @include pc {
          position: absolute;
          content: "";
          height: 80%;
          width: 100%;
          z-index: -2;
          top: 10px;
          left: 10px;
          transition: 0.3s;
        }
      }
      &:hover::after {
        @include pc {
          transition: 0.3s;
          left: 5px;
          top: 5px;
        }
      }
    }
  }
  .hamburger-container {
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    right: 10px;
    @include pc {
      display: none;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      content: "";
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background: black;
      transition: 0.5s;
      position: absolute;
    }
    .hamburger {
      &::before {
        bottom: 8px;
      }
      &::after {
        top: 8px;
      }
      &.active {
        background: rgba(0, 0, 0, 0);
        &::before {
          transform: rotate(45deg);
          bottom: 0;
        }
        &::after {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
  }
}

.top {
  @include pc {
    display: none;
  }
}

.profile::after {
  @include pc {
    background: #da39df;
  }
}

.works::after {
  @include pc {
    background: #88c41f;
  }
}

.contact::after {
  @include pc {
    background: #34d5bf;
  }
}

#top {
  margin-top: -60px;
  padding-top: 60px;
}

main {
  margin-top: 60px;
  @include pc {
    margin-top: 0;
  }
}

.catch {
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  border: 1px solid black;
  border-radius: 50%;
  height: 80vw;
  width: 80vw;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: unquote("min(6vw, 50px)");
  @include pc {
    width: unquote("min(60vw, 900px)");
    height: unquote("min(60vw, 900px)");
    font-size: unquote("min(4vw, 50px)");
  }
}

.h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  text-align: center;
  display: block;
  position: relative;
  width: 100px;
  margin: auto;
  z-index: -500;
  margin-top: -60px;
  padding-top: 80px;
  &::after {
    position: absolute;
    content: "";
    height: 20%;
    width: 80%;
    z-index: -2;
    top: 12px;
    left: 20px;
    margin: 80px 0;
  }
}

.profile:after {
  background: #da39df;
}
.works:after {
  background: #88c41f;
}
.contact:after {
  background: #34d5bf;
}

.profile_box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
  @include pc {
    flex-flow: row;
    flex-wrap: wrap;
  }
  .icon_box {
    width: unquote("min(40vw, 200px)");
    height: unquote("min(40vw, 200px)");
    border: 1px solid;
    border-radius: 50%;
    @include pc {
      margin-right: 30px;
    }
    .icon {
      width: 100%;
      height: 100%;
    }
  }
  .self_introduction {
    font-family: "Dosis", "Noto Sans JP", sans-serif;
    font-size: 20px;
    text-align: center;
    @include pc {
      text-align: left;
      margin-right: 30px;
    }
    p {
      margin: 0;
    }
    .name p:first-child {
      margin-bottom: -10px;
      font-size: 25px;
    }
    .birthday {
      margin: 10px 0;
    }
    .affiliation {
      font-size: 17px;
    }
  }
  .skill_box {
    width: unquote("min(70vw, 450px)");
    @include pc {
      width: unquote("min(60vw, 450px)");
    }
    p {
      font-family: "Dosis", "Noto Sans JP", sans-serif;
      font-size: unquote("min(6vw, 30px)");
      font-weight: 500;
      text-align: center;
      margin: 10px 0 10px 0;
      @include pc {
        margin: 0 0 10px 0;
      }
    }
    .skill_img {
      width: 100%;
    }
  }
}

.works_container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .works_box {
    margin: 0 20px 20px 20px;
    cursor: pointer;
    img {
      width: unquote("min(70vw, 400px)");
      border: 1px solid #707070;
    }
    p {
      font-family: "Dosis", "Noto Sans JP", sans-serif;
      text-align: center;
      margin: 0;
    }
  }
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
  &.tate img {
    @include pc {
      height: 70vh;
      width: auto;
    }
  }
  &.yoko {
    padding-top: 20vh;
    @include pc {
      padding-top: 0;
    }
    img {
      @include pc {
        width: 70vw;
        height: auto;
      }
    }
  }
  img {
    background-color: #fff;
    width: 100vw;
    height: auto;
  }
  .explanation_box {
    background-color: #fff;
    padding: 30px 0;
    @include pc {
      height: 70vh;
      background-color: #fff;
    }
    p:last-child {
      margin-top: 60px;
    }
  }
  h1 {
    font-family: "Dosis", "Noto Sans JP", sans-serif;
    font-weight: 500;
    background-color: #fff;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    @include pc {
      width: auto;
    }
  }
  h2 {
    font-family: "Dosis", "Noto Sans JP", sans-serif;
    font-weight: 500;
    background-color: #fff;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    @include pc {
      width: auto;
    }
  }
  h3 {
    font-family: "Dosis", "Noto Sans JP", sans-serif;
    font-weight: 500;
    background-color: #fff;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    @include pc {
      width: auto;
    }
  }
  p {
    font-family: "Dosis", "Noto Sans JP", sans-serif;
    font-weight: 500;
    background-color: #fff;
    width: 100vw;
    text-align: center;
    margin: 0;
    @include pc {
      width: auto;
    }
  }
}

.overlay_flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  @include pc {
    flex-flow: row;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

footer {
  background: #34d5bf;
  width: 100%;
  left: 0;
  position: absolute;
  .contact_container {
    background-color: #fff;
    margin: 40px 10vw 10px 10vw;
    transition: 0.5s;
    @include pc {
      margin: 40px 70px 10px 70px;
    }
    &:hover {
      filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
      transition: 0.5s;
    }
    a {
      width: 100%;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      height: 50px;
      align-items: center;
      color: #000;
      img {
        width: 40px;
        margin-left: 10px;
      }
      p {
        font-family: "Dosis", "Noto Sans JP", sans-serif;
        font-weight: 500;
        font-size: 20px;
        span {
          margin-left: 20px;
        }
      }
      .dummy {
        width: 50px;
        background: rgba(0, 0, 0, 0);
      }
    }
  }
  .copy {
    font-family: "Dosis", "Noto Sans JP", sans-serif;
    color: #707070;
    text-align: center;
    margin: 0 0 10px 0;
  }
}

#page-top {
  @include pc {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    transform: rotate(45deg);
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    margin: 0;
  }
  &::after {
    @include pc {
      content: "";
      position: absolute;
      bottom: 20%;
      right: 20%;
      width: 50%;
      height: 50%;
      display: block;
      border-left: 3px solid #fff;
      border-top: 3px solid #fff;
    }
  }
  a {
    display: none;
    @include pc {
      width: 100%;
      height: 100%;
    }
    &:hover {
      @include pc {
        text-decoration: none;
        background: rgba(144, 144, 144, 0.8);
      }
    }
  }
}
