@charset "utf-8";

body {
  margin: 5px 10px 0 10px;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  background: #fff;
}

header .logo {
  height: 50px;
  margin-right: auto;
  z-index: 100;
  background-color: #fff;
  padding-top: 5px;
}

header nav ul {
  display: flex;
  margin: auto;
  padding: 0;
  flex-flow: column;
  position: absolute;
  left: 0;
  right: 0;
  top: -190px;
  transition: 0.5s;
}

header nav ul.open {
  top: 55px;
  transition: 0.5s;
}

header nav ul li {
  list-style-type: none;
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  background-color: #fff;
  display: inline-block;
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.hamburger-container {
  display: flex;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  right: 10px;
}

.hamburger-container .hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: black;
  transition: 0.5s;
  position: absolute;
}

.hamburger::before {
  bottom: 8px;
}

.hamburger::after {
  top: 8px;
}

.hamburger.active {
  background: rgba(0, 0, 0, 0);
}

.hamburger.active::before {
  transform: rotate(45deg);
  bottom: 0;
}

.hamburger.active::after {
  transform: rotate(-45deg);
  top: 0;
}

#top {
  margin-top: -60px;
  padding-top: 60px;
}

main {
  margin-top: 60px;
}

h1 {
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  border: 1px solid black;
  border-radius: 50%;
  height: 80vw;
  width: 80vw;
  margin: 0 auto;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: min(6vw, 50px);
}

h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  text-align: center;
  display: block;
  position: relative;
  width: 100px;
  margin: auto;
  z-index: -500;
  margin-top: -60px;
  padding-top: 80px;
}

h2::after {
  position: absolute;
  content: "";
  height: 20%;
  width: 80%;
  z-index: -2;
  top: 12px;
  left: 20px;
  margin: 80px 0;
}

#page-top a {
  display: none;
}

@media screen and (min-width: 769px) {
  body {
    margin: 30px 10vw 0 10vw;
  }

  header {
    align-items: center;
    position: relative;
    z-index: 1;
  }

  header .logo {
    height: 70px;
    margin-right: auto;
  }

  header nav ul {
    flex-flow: row;
    position: relative;
    top: 0;
  }

  header nav ul.open {
    top: 0;
    transition: 0.5s;
  }

  header nav ul li {
    padding: 0;
    margin: 0 30px;
    background-color: rgba(0, 0, 0, 0);
  }

  header nav ul li a {
    padding: 0;
  }

  header nav ul li:after {
    position: absolute;
    content: "";
    height: 80%;
    width: 100%;
    z-index: -2;
    top: 10px;
    left: 10px;
  }

  .top {
    display: none;
  }

  .profile:after {
    background: #da39df;
  }
  .works:after {
    background: #88c41f;
  }
  .contact:after {
    background: #34d5bf;
  }

  .hamburger-container {
    display: none;
  }

  h1 {
    width: min(60vw, 900px);
    height: min(60vw, 900px);
    font-size: min(4vw, 50px);
  }

  #page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    transform: rotate(45deg);
    box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
  }

  #page-top::after {
    content: "";
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 50%;
    height: 50%;
    display: block;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
  }

  #page-top a {
    width: 100%;
    height: 100%;
  }

  #page-top a:hover {
    text-decoration: none;
    background: rgba(144, 144, 144, 0.8);
  }
}
