.isHide {
  display: none;
}

.fadeoutBg {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  opacity: 0;
  pointer-events: none;
}

.fadeoutLoader {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

#loaderBg {
  background: #ffffff;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#loader {
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: fixed;
  top: 50%;
  width: 120px;
}

#loader p {
  color: #454545;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

#loader p img {
  display: inline-block;
}

body {
  margin: 5px 10px 0 10px;
}

@media screen and (min-width: 769px) {
  body {
    margin: 30px 10vw 0 10vw;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}

@media screen and (min-width: 769px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
  }
}

header .logo {
  height: 50px;
  margin-right: auto;
  z-index: 100;
  background-color: #fff;
  padding-top: 5px;
}

@media screen and (min-width: 769px) {
  header .logo {
    height: 70px;
    margin-right: auto;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  position: absolute;
  left: 0;
  right: 0;
  top: -190px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 769px) {
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    position: relative;
    top: 0;
  }
}

header nav ul.open {
  top: 55px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 769px) {
  header nav ul.open {
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

header nav ul li {
  list-style-type: none;
  margin: 0;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 20px;
  position: relative;
  background-color: #fff;
  display: inline-block;
}

@media screen and (min-width: 769px) {
  header nav ul li {
    padding: 0;
    margin: 0 30px;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media screen and (min-width: 769px) {
  header nav ul li:last-child {
    margin: 0 10px 0 30px;
  }
}

header nav ul li a {
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  header nav ul li a {
    padding: 0;
  }
}

@media screen and (min-width: 769px) {
  header nav ul li::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 100%;
    z-index: -2;
    top: 10px;
    left: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media screen and (min-width: 769px) {
  header nav ul li:hover::after {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    left: 5px;
    top: 5px;
  }
}

header .hamburger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  right: 10px;
}

@media screen and (min-width: 769px) {
  header .hamburger-container {
    display: none;
  }
}

header .hamburger-container .hamburger,
header .hamburger-container .hamburger::before,
header .hamburger-container .hamburger::after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}

header .hamburger-container .hamburger::before {
  bottom: 8px;
}

header .hamburger-container .hamburger::after {
  top: 8px;
}

header .hamburger-container .hamburger.active {
  background: rgba(0, 0, 0, 0);
}

header .hamburger-container .hamburger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}

header .hamburger-container .hamburger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

@media screen and (min-width: 769px) {
  .top {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .profile::after {
    background: #da39df;
  }
}

@media screen and (min-width: 769px) {
  .works::after {
    background: #88c41f;
  }
}

@media screen and (min-width: 769px) {
  .contact::after {
    background: #34d5bf;
  }
}

#top {
  margin-top: -60px;
  padding-top: 60px;
}

main {
  margin-top: 60px;
}

@media screen and (min-width: 769px) {
  main {
    margin-top: 0;
  }
}

.catch {
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  border: 1px solid black;
  border-radius: 50%;
  height: 80vw;
  width: 80vw;
  margin: 0 auto;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: min(6vw, 50px);
}

@media screen and (min-width: 769px) {
  .catch {
    width: min(60vw, 900px);
    height: min(60vw, 900px);
    font-size: min(4vw, 50px);
  }
}

.h2 {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  text-align: center;
  display: block;
  position: relative;
  width: 100px;
  margin: auto;
  z-index: -500;
  margin-top: -60px;
  padding-top: 80px;
}

.h2::after {
  position: absolute;
  content: "";
  height: 20%;
  width: 80%;
  z-index: -2;
  top: 12px;
  left: 20px;
  margin: 80px 0;
}

.profile:after {
  background: #da39df;
}

.works:after {
  background: #88c41f;
}

.contact:after {
  background: #34d5bf;
}

.profile_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px auto 0 auto;
}

@media screen and (min-width: 769px) {
  .profile_box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.profile_box .icon_box {
  width: min(40vw, 200px);
  height: min(40vw, 200px);
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .profile_box .icon_box {
    margin-right: 30px;
  }
}

.profile_box .icon_box .icon {
  height: 95%;
  margin-top: 2px;
  width: auto;
}

.profile_box .self_introduction {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-size: 20px;
  text-align: center;
}

@media screen and (min-width: 769px) {
  .profile_box .self_introduction {
    text-align: left;
    margin-right: 30px;
  }
}

.profile_box .self_introduction p {
  margin: 0;
}

.profile_box .self_introduction .name p:first-child {
  margin-bottom: -10px;
  font-size: 25px;
}

.profile_box .self_introduction .birthday {
  margin: 10px 0;
}

.profile_box .self_introduction .affiliation {
  font-size: 17px;
}

.profile_box .self_introduction .qualification h3 {
  margin: 0;
}

.profile_box .self_introduction .qualification p {
  font-size: 0.9rem;
}

.profile_box .skill_box {
  width: min(70vw, 450px);
}

@media screen and (min-width: 769px) {
  .profile_box .skill_box {
    width: min(60vw, 450px);
  }
}

.profile_box .skill_box .skillP {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-size: min(6vw, 30px);
  font-weight: 500;
  text-align: center;
  margin: 10px 0 10px 0;
}

@media screen and (min-width: 769px) {
  .profile_box .skill_box .skillP {
    margin: 0 0 10px 0;
  }
}

.profile_box .skill_box p {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-size: min(3vw, 20px);
  font-weight: 500;
  text-align: center;
  margin: 10px 0 10px 0;
}

@media screen and (min-width: 769px) {
  .profile_box .skill_box p {
    margin: 0 0 10px 0;
  }
}

.works_container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works_container .works_box {
  margin: 0 20px 20px 20px;
  cursor: pointer;
}

.works_container .works_box img {
  width: min(70vw, 400px);
  border: 1px solid #707070;
}

.works_container .works_box p {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  text-align: center;
  margin: 0;
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: scroll;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: 769px) {
  .overlay.tate img {
    height: 70vh;
    width: auto;
  }
}

.overlay.yoko {
  padding-top: 20vh;
}

@media screen and (min-width: 769px) {
  .overlay.yoko {
    padding-top: 0;
  }
}

@media screen and (min-width: 769px) {
  .overlay.yoko img {
    width: 70vw;
    height: auto;
  }
}

.overlay img {
  background-color: #fff;
  width: 100vw;
  height: auto;
}

.overlay .explanation_box {
  background-color: #fff;
  padding: 30px 0;
}

@media screen and (min-width: 769px) {
  .overlay .explanation_box {
    height: 70vh;
    background-color: #fff;
  }
}

.overlay .explanation_box p:last-child {
  margin-top: 60px;
}

.overlay h1 {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-weight: 500;
  background-color: #fff;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

@media screen and (min-width: 769px) {
  .overlay h1 {
    width: auto;
  }
}

.overlay h2 {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-weight: 500;
  background-color: #fff;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

@media screen and (min-width: 769px) {
  .overlay h2 {
    width: auto;
  }
}

.overlay h3 {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-weight: 500;
  background-color: #fff;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

@media screen and (min-width: 769px) {
  .overlay h3 {
    width: auto;
  }
}

.overlay p {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-weight: 500;
  background-color: #fff;
  width: 100vw;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 769px) {
  .overlay p {
    width: auto;
  }
}

.overlay_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

@media screen and (min-width: 769px) {
  .overlay_flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

footer {
  background: #34d5bf;
  width: 100%;
  left: 0;
  position: absolute;
}

footer .contact_container {
  background-color: #fff;
  margin: 40px 10vw 10px 10vw;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (min-width: 769px) {
  footer .contact_container {
    margin: 40px 70px 10px 70px;
  }
}

footer .contact_container:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .contact_container a {
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

footer .contact_container a img {
  width: 40px;
  margin-left: 10px;
}

footer .contact_container a p {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

footer .contact_container a p span {
  margin-left: 20px;
}

footer .contact_container a .dummy {
  width: 50px;
  background: rgba(0, 0, 0, 0);
}

footer .copy {
  font-family: "Dosis", "Noto Sans JP", sans-serif;
  color: #707070;
  text-align: center;
  margin: 0 0 10px 0;
}

@media screen and (min-width: 769px) {
  #page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
    background: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    display: block;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    cursor: pointer;
    margin: 0;
  }
}

@media screen and (min-width: 769px) {
  #page-top::after {
    content: "";
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 50%;
    height: 50%;
    display: block;
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
  }
}

#page-top a {
  display: none;
}

@media screen and (min-width: 769px) {
  #page-top a {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 769px) {
  #page-top a:hover {
    text-decoration: none;
    background: rgba(144, 144, 144, 0.8);
  }
}
/*# sourceMappingURL=style.css.map */